body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 1.5;
}

.list-group {
  max-width: 270px;
}

.row {
  height: 270px;
  width: 300px;
  margin-bottom: 10px;
  float: left;
  margin-left: 20px;
}

.img {
  margin-left: 70px;
  max-height: 6em;
  width: 6em;
}
